<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:,"><!-- Avoid favicon requests: https://stackoverflow.com/a/38917888 -->
  <title>What's in a PDF file?</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
  <script src="https://cdn.tailwindcss.com"></script>

  <script type="module">
    import { createApp, reactive } from 'https://unpkg.com/petite-vue?module'

    // Create a worker.
    // type: 'module' (https://web.dev/module-workers/) doesn't work in Firefox yet:
    // https://stackoverflow.com/questions/44118600/web-workers-how-to-import-modules
    const myWorker = new Worker("worker.js", { type: 'module' });

    // When the worker sends a message back, this code is run.
    myWorker.onmessage = function (e) {
      console.log('Message received from worker:', e.data);
      store.setWorkerResponse(e.data);
    }

    const store = reactive({
      parsedPdfFile: null,
      fileName: null,
      // When the user chooses a file (or chooses a different file), call the below.
      // Passes the file to webworker (which will pass it to WASM),
      // and updates...
      sendFileToWorker(event) {
        this.parsedPdfFile = null;
        let file = event.target.files[0];
        if (file) {
          this.fileName = file.name;
          myWorker.postMessage(file);
          console.log('Message posted to worker.');
        } else {
          this.fileName = null;
        }
      },
      setWorkerResponse(data) {
        this.parsedPdfFile = data;
      }
    })

    createApp({ store }).mount()
  </script>
  <script src="//unpkg.com/petite-vue" defer init></script>


  <script>
    function assert(condition, message) {
      if (!condition) {
        throw new Error(message || "Assertion failed");
      }
    }
    function printable(code) {
      assert(0 <= code && code < 256);
      if (32 <= code && code < 127) return String.fromCharCode(code);
      if (code == 10) return '␊';
      if (code == 13) return '␍';
      // Assigned to printable characters in Latin-1 Supplement.
      if (code >= 161) return `[${String.fromCharCode(code)}]`;
      return `[${code}]`;
    }
  </script>
</head>

<body>
  <div v-cloak v-scope="{ store }">
    <div>Choose a PDF file to see info about it.</div>
    <input id="file-upload" type="file" @change="store.sendFileToWorker">
    <div v-show="store.fileName">
      <p>The file's name is: <code v-text="store.fileName"></code></p>
      <p v-show="!store.parsedPdfFile">Parsing PDF file...</p>
    </div>
    <div v-show="store.parsedPdfFile">
      <div class="mt-4">About this file</div>
      <template v-if="store.parsedPdfFile">
        <div>
          <div class="border-4 m-4">
            <div>Header</div>
            <template v-for="byte in store.parsedPdfFile.header">
              <span v-text="printable(byte)" class="mx-1 border-2"></span>
            </template>
            <div>That was the header</div>
          </div>

          <div class="border-4 m-4">
            <div>Body</div>
          </div>

          <div class="border-4 m-4">
            <div>Cross-ref and trailer</div>
          </div>
        </div>
        <!-- Note: Don't add another child of this template; Alpine won't render it. -->
      </template>
    </div>
</body>

</html>